<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Students sheet</title>
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.css">
  <link rel="stylesheet" href="//cdn.datatables.net/1.10.16/css/dataTables.bootstrap4.min.css">
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.23/css/jquery.dataTables.css">



</head>

<body>
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <table id="student" class="table table-striped table-bordered" style="width:100%">
          <thead>
            <tr>
              <th>First name</th>
              <th>Last name</th>
              <th>Date of Birth</th>
              <th>Email</th>
			  <th>Class</th>

			  <th>Parent name</th>
			  <th>Phone number</th>
			  <th>Date Added</th>
			  <th>Date Updated</th>
			  <th>Year joined</th>
			  <th>Action</th>
            </tr>
          </thead>
        </table>
      </div>
    </div>
  </div>
  <script src="//code.jquery.com/jquery-1.12.4.js"></script>
  <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.23/js/jquery.dataTables.js"></script>
  <script src="//cdn.datatables.net/1.10.16/js/dataTables.bootstrap4.min.js"></script>
  <script>



$(document).ready(function() {
		var id = "data.Id";
	$('#student').DataTable({
			"serverSide": true,
			"pageLength":25,
            "dataSrc":"",
			"ajax": {
				"url": "http://localhost:8000/student/api/list",

			},
			"columns": [

				{"data": "First_name"},
				{"data": "Last_name"},
				{"data": "Date_of_birth"},
				{"data": "Email"},

				{"data": "Class_level"},
				{"data": "Parent_name"},
				{"data": "Phone_number"},
				{"data": "DateAdded"},
				{"data": "DateUpdated"},
				{"data": "Year_joined"},
				{
            "data": null,
            "className": "center",
			"render": function (data, type, row) {
				console.log(row.Id);
                 return '<a href="http://localhost:8000/student/api/'+row.Id+'" class="editor_edit">Edit</a> / <a href="http://localhost:8000/student/api/'+row.Id+'/delete" class="editor_remove">Delete</a>'
		     }
        }
	],
} );
} );

  </script>
  <a type="button" class="btn btn-success" href="http://localhost:8000/student/api/create">Add student</a>
</body>
</html>
